          <nav class="navbar navbar-expand-lg navbar-custom mb-4">
                <div class="container-fluid">
                    <button class="btn btn-light me-2" id="sidebarToggle">
                        <i class="fas fa-bars"></i>
                    </button>
                    
                    <div class="d-flex align-items-center">
                        <div class="search-bar me-3">
                            <input type="text" class="form-control" placeholder="جستجو...">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </div>
                        
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user-circle me-1"></i>
                                مدیر سیستم
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#"><i class="fas fa-user me-1"></i>پروفایل</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fas fa-cog me-1"></i>تنظیمات</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt me-1"></i>خروج</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
