@model ELearn.DataLayer.DTOS.CourseGroupViewModels.CreateCourseGroupViewModel
@{
	Layout = "/areas/admin/Views/shared/_Adminlayout.cshtml";
}
<div class="card w-100 p-4">
	<h6>افزودن گروه جدید</h6>
	<form method="post">
		<div>
			<input class="form-control mb-2" asp-for="CourseGroupName" />
			<span asp-validation-for="CourseGroupName"></span>

		</div>
		<button class="btn btn-success btn-sm" type="submit">افزودن</button>



	</form>

</div>

@section Scripts
{
<script>
	var btn =$("#btn").get();
</script>
}
