@model List<ELearn.DataLayer.Entities.CourseGroup>
@{
	Layout = "/areas/admin/Views/shared/_Adminlayout.cshtml";
}
@if(TempData["Success"]!=null)
{
	<div class="alert alert-success">
		@TempData["Success"]
	</div>
}
@if(TempData["Error"]!=null)
{
	<div class="alert alert-danger">
		@TempData["Error"]
	</div>
}

	<a class="btn btn-success btn-sm" href="/admin/CourseGroups/CreateCourseGroup"><i class="bi bi-pencil-square"></i></a>
<table class="table table-hover">
	<tr>
		<th>شناسه</th>
		<th>نام گروه</th>
@@ -43,4 +43,5 @@
			</th>
		</tr>
	}
</table>
