@model List<ELearn.DataLayer.Entities.CourseGroup>
@{
    Layout = "/View/shared/_layout.cshtml";
}
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        @foreach(var cg in Model)
    {
        <tr>
            <th>@cg.CourseGroupId</th>
            <th>@cg.CourseGroupName</th>
            @if(cg.IsDeleted)
            {
                <th class="text-danger">حذف شده</th>
            }
            else
            {
                <th class="text-success">فعال</th>
            }
        </tr>
    }
</table>